<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="center">
    <h1>三聯式發票(new)</h1>
    <div class="row" style="padding-left: 30px;">
        <form>
            <table>
                <tr>
                    <th>含稅金額</th>
                    <th>稅率</th>
                    <th>稅額</th>
                    <th>未稅金額</th>
                </tr>
                <tr>
                    <td><input class="form-control" name="taxIncludedPrice" type="text" value="$invoice.getTaxIncludedPrice()" readonly></td>
                    <td><input class="form-control" name="vatRate" type="text" value="$invoice.getVatRate()" readonly></td>
                    <td><input class="form-control" name="vat" type="text" value="$invoice.getVat()" readonly></td>
                    <td><input class="form-control" name="taxExcludedPrice" type="text" value="$invoice.getTaxExcludedPrice()" readonly></td>
                </tr>
                    <th>公司統一編號</th>
                    <th>公司名稱</th>
                    <tr>
                        <td><input class="form-control" id="vatId" name="vatId" type="text" value="$invoice.getVatId()" readonly></td>
                        <td colspan="2" ><input class="form-control" id="coName" name="coName" type="text" value="$invoice.getCoName()" readonly></td>
                    </tr>
            </table>
            <br/>
            <div style="float:right;">
                <button class="btn btn-primary" id="reissue">重開發票</button>
            </div>
        </form>
    </div>
</div>
<p>

    <script type="text/javascript">
        document.getElementById("reissue").onclick = function () {
            location.href = "/invoice";
        };
    </script>

    <style>
        .center {
            margin: auto;
            padding-top: 74px;
            padding-left: 70px;
        }

        td {
          padding: 5px;
        }

        form {
            width: 600px;
        }
    </style>

</body>
</html>
